<h1>Counter</h1>

<p>This is a simple example of an Angular component.</p>

<p aria-live="polite">Current count: <strong>{{ currentCount }}</strong></p>

<button class="btn btn-primary" (click)="incrementCounter()">Increment</button>

<button class="btn btn-primary" (click)="testB()">Get Posts</button>
<br />
<br />
<h2 *ngIf="loadedPosts.length != 0 ">DataReceived</h2>
<app-display-post *ngFor="let currLoadedPost of loadedPosts"
                  [userId]=currLoadedPost.userId
                  [id]=currLoadedPost.id
                  [title]=currLoadedPost.title
                  [body]=currLoadedPost.body></app-display-post>

